* {
  margin: 0;
}

body {
  background-color: #eae7dc;
}

.app {
  display: flex;
  flex-direction: column;
}

.app__navbar {
  height: 10vh;
  background-color: #eae7dc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__navbar h1 {
  color: #e85a4f;
}

.app__body {
  padding: 30px;
}

.app__body table {
  width: 100%;
  border-spacing: 10px;
}

.app__body td {
  background-color: #e98074;
  border-radius: 4px;
  height: 50px;
  width: 20px;
  margin: 50px;
  text-align: center;
  color: #eae7dc;
  font-weight: bold;
}

.app__body h1 {
  float: right;
  margin-right: 50px;
  color: #8e8d8a;
}
td:hover {
  box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
